main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh ;
  background-color: #e6e6ff;
}

.Levi {
  width: 25%;
  height: 400px;
  margin-right: 30px;
}

.logo {
  width: 300px;
  height: 30px;
  background-color: cornflowerblue;
}

.profilne {
  display: flex;
  flex-direction: row;
}

.profilna1 {
  background-color: cyan;
  width: 100px;
  height: 200px;
  margin-right: 20px;
}

.profilna2 {
  background-color: blue;
  width: 100px;
  height: 200px;
}


.Desni {
  width: 25%;
  height: 400px;
}

form {
  background-color: white;
  margin-top: 30px;
  box-shadow: 5px;
  box-shadow: gray;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  margin-top: 20px;
  width: 80%;
  height: 40px;
  background-color: cadetblue;
}

button {
  width: 80%;
  height: 40px;
  margin-top: 20px;
  background-color: blue;
  padding: 10px;
}



.napravi {
  margin-bottom: 20px;
}

.napstr {
  margin-left: 10%;
}